[Desktop Entry]
Name=USB Device Configuration
Comment=Configure udev rules for USB devices
Exec=udev-autoconfig-gui
Icon=input-gaming
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=usb;udev;device;hardware;gaming;mouse;keyboard;webhid;
StartupNotify=true